#chrome {
  header {
    background: $header-background;
    color: $header-color;
    padding:0.5rem;
  }
  #stage {
    padding:0.5em;
    lost-center:980px;
  }
}

.login-state {
  float: right;

  img {
    border-radius: 3px;
    margin-right: 0.5rem;
  }

  a, a:visited {
    color: #fff;
  }
}
