@import "normalize.css";

body {
    margin: 0px;
    font-family: sans-serif;
}

section, header {
    lost-center: 1140px;
    lost-utility: clearfix;
}

header {
    background: #cbcbcb;
}

@import "leaderboard.css";
@import "score-entry.css";
