
@import "normalize.css";
@import "constants.css";
@import "typography.css";
@import "chrome.css";
@import "buttons.css";
@import "input.css";


@import "accounts.css";
@import "leaderboard.css";
@import "score-entry.css";
@import "error.css";
@import "landing.css";
@import "welcome.css";


/* vendor */
@import "font-awesome.min.css";
@import "fullcalendar.min.css";
@import "scheduler.min.css";


#login-box {
  lost-center: 300px;

  label {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    display:block;
  }

  input {
    width:100%;
  }
  button {
    margin-top:0.5rem;
    display:block;
  }
}
