<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>container.html</title>

    <link rel="stylesheet" href="/css/generated.css" type="text/css"  />
  </head>
  <body>
    <header>
    Menu2
    </header>
    <section class="stage">
    <div class="login">
      Login Screen
      <form>
        <label>Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="password" name="password" />

        <button type="submit">Submit</button>
      </form>
    </div>
    </section>
  </body>
</html>
