<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>leaderboard.html</title>
  </head>
  <body>
    <section>
    <table class="leaderboard">
      <thead>
        <tr>
          <th>Overall</th>
          <th>Athlete</th>
          <th class="event">Event 1</th>
          <th class="event">Event 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="rank">
            <div>1</div>
            <div>22pts</div>
          </td>
          <td class="athlete">
            <div>Jeff Vanlandingham</div>
            <div>Crossfit Jaakarhu</div>
          </td>
          <td class="event">
            <div>1</div>
            <div>
              <div>22 pts</div>
              <div>5:22</div>
            </div>
          </td>
          <td class="event">
            <div>1</div>
            <div>
              <div>pts</div>
              <div>score</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="rank">
            <div>2</div>
            <div>20pts</div>
          </td>
          <td class="athlete">
            <div>Albert Leyva</div>
            <div>Crossfit Dallas Central</div>
          </td>
          <td class="event">
            <div>1</div>
            <div>
              <div>22 pts</div>
              <div>5:22</div>
            </div>
          </td>
          <td class="event">
            <div>1</div>
            <div>
              <div>pts</div>
              <div>score</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </section>
    <script type="text/javascript" src="http://localhost:8080/resources/app/public/bundle.js" charset="utf-8"></script>
  </body>
</html>

